<div class="wrapper">
  <div class="content">
    <img width="200" src="./assets/img/congratulations.png" />
    <h2>PARABÉNS!</h2>
    <p>
      Você recebeu uma licença gratuita para avaliar nosso app. Além disso, voce
      já ganhou 👇
    </p>
    <p class="amount">R$ {{45.00 | brazilNumberFormat}}</p>
    <p class="thank-you">
      com base na análise de crédito do seu CPF.
      <br />
      Aproveite e obrigado por ajudar a nos avaliar!
    </p>
  </div>
  <ion-button
    class="start-btn"
    shape="round"
    size="large"
    (click)="closeModal()"
    >Iniciar</ion-button
  >
</div>
