.wrapper {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 6px;
  text-align: center;
  padding: 14px;
  padding-top: 120px;

  h1 {
    color: white;
    font-weight: 700;
  }

  p {
    color: white;
  }

  .balance {
    font-size: 36px;
    font-weight: 700;
    color: #7FFFD4;
    padding: 24px;
  }

  .pix-btn {
    width: 100%;
  }
}
