<div class="wrapper">
  <div class="title">Cadastre Valide Sua Chave Pix</div>
  <div>Insira sua chave Pix abaixo e comece agora!</div>
  <div class="content">
    <p>
      Ao validar sua chave Pix, você receberá um "Pix Teste" enviado por Inter
      Pagamentos.
    </p>
    <p>
      Após a validação, você poderá usar o aplicativo normalmente e sacar os
      valores ganhos com suas avaliãçoes.
    </p>
  </div>
  <div class="footer-title">CADASTRE SUA CHAVE PIX AGORA! 👇</div>
  <div class="footer-content">Escolha o tipo da sua chave Pix</div>
  <div class="btn-group">
    <ion-button
      [class]="
        validationFormGroup.value.type === 'cpf' ? 'active' : 'disable'
      "
      size="large"
      class="btn-child"
      (click)="setType('cpf')"
    >
      CPF
    </ion-button>
    <ion-button
      [class]="validationFormGroup.value.type === 'phone' ? 'active' : 'disable'"
      size="large"
      class="btn-child"
      (click)="setType('phone')"
    >
      TELEFONE
    </ion-button>
  </div>
  <form [formGroup]="validationFormGroup" class="validation-form">
    <ion-input
      *ngIf="validationFormGroup.value.type === 'cpf'"
      formControlName="cpf"
      class="input-cpf"
      fill="outline"
      color="light"
      [maskito]="cpfMask"
      [maskitoElement]="maskPredicate"
      placeholder="Ex.: 000.000.000.-00"
    ></ion-input>
    <ion-input
      *ngIf="validationFormGroup.value.type === 'phone'"
      formControlName="phone"
      class="input-cpf"
      fill="outline"
      color="light"
      [maskito]="phoneMask"
      [maskitoElement]="maskPredicate"
      placeholder="Ex.: (00) 00000-00000"
    ></ion-input>
    <ion-button
      [disabled]="validationFormGroup.invalid"
      shape="round"
      size="large"
      class="validate-btn"
      (click)="validate()"
    >
      Validar minha chave Pix
    </ion-button>
  </form>
</div>
