<div class="wrapper">
  <img src="./assets/img/question_2.png" alt="question_1.png" height="200">
  <ion-button class="rate-btn" shape="round">Avaliação: R$ 24,33</ion-button>
  <p>Quão fácil foi para você abrir sua conta digital no Banco Inter?</p>
  <ion-button class="answer-btn btn1" (click)="clickAnswer()">Muito Fácil</ion-button>
  <ion-button class="answer-btn btn2" (click)="clickAnswer()">Fácil</ion-button>
  <ion-button class="answer-btn btn3" (click)="clickAnswer()">Neutro</ion-button>
  <ion-button class="answer-btn btn4" (click)="clickAnswer()">Difícil</ion-button>
  <ion-button class="answer-btn btn5" (click)="clickAnswer()">Muito Difícil</ion-button>
  <div class="footer">
    <div class="rating">Avaliação 2/5</div>
    <ion-progress-bar class="progress-bar" [value]="2/5" color="warning"></ion-progress-bar>
  </div>
</div>