<app-header></app-header>

<div class="wrapper">
  <img src="./assets/img/question_1.png" alt="question_1.png">
  <ion-button class="rate-btn" shape="round">Avaliação: R$ 36,53</ion-button>
  <p>Como você avalia sua experiência geral com o Banco Inter?</p>
  <ion-button class="answer-btn btn1">Muito Satisfeito</ion-button>
  <ion-button class="answer-btn btn2">Satisfeito</ion-button>
  <ion-button class="answer-btn btn3">Neutro</ion-button>
  <ion-button class="answer-btn btn4">Insatisfeito</ion-button>
  <ion-button class="answer-btn btn5">Muito Insatisfeito</ion-button>
  <div class="footer">
    <div class="rating">Avaliação 1/5</div>
    <ion-progress-bar class="progress-bar" [value]="1/5" color="warning"></ion-progress-bar>
  </div>
</div>