@use './../../theme/variables';

.wrapper {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 6px;
  text-align: center;
  padding: 14px;
  padding-top: 82px;

  p {
    color: white;
  }

  .answer-btn {
    width: 100%;
  }

  .footer {
    color: white;
    margin-top: 12px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .progress-bar {
      width: 60%;
      height: 8px;
      border-radius: 3px;
    }
  }
}
