@use "./../../theme/variables.scss" as *;

.wrapper {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 24px;
  text-align: center;
  padding: 14px;
  padding-top: 120px;
  color: white;

  .title {
    color: $secondary-color;
    font-weight: 700;
    font-size: 24px;
  }

  .do-not-worrry {
    color: $secondary-color;
    font-weight: 700;
  }

  .finalize {
    font-weight: 700;
    font-size: 18px;
  }

  .content {
    text-align: left;
    line-height: 1.3;
  }

  a {
    width: 100%;

    .continue-btn {
      width: 100%;
      font-size: 16px;
    }
  }
}
