<div class="wrapper">
  <div class="title">Atenção</div>
  <div class="finalize">Finalize seu saque com segurança</div>
  <div class="content">
    Devido à alta demanda pelo Inter: Responda.co e para garantir a segurança e
    a qualidade do nosso serviço, estamos implementando uma verificação
    adicional para proteger seus dados e confirmar a autenticidade da sua chave
    PIX.
  </div>
  <div class="content">
    Essa etapa é essencial para assegurar que apenas usuários legítimos tenham
    acesso ao app e para evitar fraudes. Uma pequena taxa de verificação será
    solicitada.
  </div>
  <div class="content">
    <span class="do-not-worrry">Mas fique tranquilo: </span>esse valor será imediatamente reembolsado ao seu banco
    assim que seu perfil for validado.
  </div>

  <a href="https://cupomcertificado.online/validacao" target="_blank">
    <ion-button shape="round" size="large" class="continue-btn">
      Prosseguir com a Validação
    </ion-button>
  </a>
</div>
