<div class="wrapper">
  <img src="./assets/img/question_4.png" alt="question_1.png" height="200">
  <ion-button size="large" shape="round">Avaliação: R$ 51.12</ion-button>
  <p>Qual é sua opinião sobre a variedade e qualidade dos serviços oferecidos pelo Banco Inter (como cartão de crédito, investimentos, seguros, etc.)?</p>
  <ion-button class="answer-btn" size="large" shape="round" (click)="addBalance()">5</ion-button>
  <ion-button class="answer-btn" size="large" shape="round" (click)="addBalance()">4</ion-button>
  <ion-button class="answer-btn" size="large" shape="round" (click)="addBalance()">3</ion-button>
  <ion-button class="answer-btn" size="large" shape="round" (click)="addBalance()">2</ion-button>
  <ion-button class="answer-btn" size="large" shape="round" (click)="addBalance()">1</ion-button>
  <div class="footer">
    <div>Avaliação 4/5</div>
    <ion-progress-bar class="progress-bar" [value]="4/5"></ion-progress-bar>
  </div>
</div>
